"*":
  "atom-beautify":
    general:
      _analyticsUserId: "122478da-2f11-43d1-8f9e-2616514bbf73"
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "autoclose-html":
    forceInline: [
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "li"
      "option"
      "figure"
      "figcaption"
    ]
    makeNeverCloseSelfClosing: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    enableAutoConfirmSingleSuggestion: false
    maxVisibleSuggestions: 5
    minimumWordLength: 3
  core:
    disabledPackages: [
      "wrap-guide"
      "welcome"
      "whitespace"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "one-dark-ui"
    ]
    projectHome: "/Users/michaelklein/Localhost"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  docblockr:
    extra_tags_go_after: true
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "8fffc1cd-d681-2199-88d2-e57b97c31003"
  "file-icons":
    coloured: false
    onChanges: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "native-ui":
    ui:
      macTransparency: false
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    autoIndent: false
